.App {
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', monospace; /* Cambio de fuente a Courier New */
  }
  
  .main-content {
    flex: 1;
    padding: 14px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }
  
  .footer {
    border-top: none; /* Eliminar la línea superior del footer */
    padding: 10px;
    text-align: center;
  }
  
  ul {
    list-style-type: none; /* Eliminar los puntos de las listas */
  }
  
  .text-animation {
    position: relative;
    overflow: hidden;
    width: 0;
    animation: slide-in 1s ease-out forwards;
  }
  
  @keyframes slide-in {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  